.skill-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    justify-content: center;
  }
  &__item {
    opacity: 0;
  }
  &__icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
    width: 100%;
    grid-row-gap: 10rem;
    grid-column-gap: 2.5rem;
    padding: 5rem 8rem;
    &--icon {
      cursor: pointer;
      height: 15rem;
      width: 15rem;
      &:hover {
        animation-name: spin;
        animation-duration: 5s;
        animation-iteration-count: 10;
        animation-timing-function: linear;
        animation-direction: alternate;
      }
    }
    &--caption {
      color: var(--color-light);
      font-size: 1.75rem;
      text-align: center;
      margin-top: 4rem;
    }
  }
}
.visible {
  opacity: 1;
  transition: all 3.5s;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: scale(0.5, 0.5) rotateZ(180deg);
  }

  100% {
    transform: rotateZ(-360deg) scale(1, 1);
  }
}

@media all and (max-width: 480px) {
  .skill-section {
    &__icons {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
