.skill-section {
  width: 100%;
  padding: 5rem 8rem;

  &__header {
    display: flex;
    justify-content: center;
  }
  &__item {
    opacity: 0;
  }
  &__icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 10rem;
    padding: 5rem 8rem;
    &--icon {
      height: 15rem;
      width: 15rem;
    }
    &--caption {
      color: var(--color-light);
      font-size: 1.75rem;
      text-align: center;
      margin-top: 4rem;
    }
  }
}
.visible {
  opacity: 1;
  transition: all 3.5s;
}
