.header__nav {
  width: 100vw;
  display: flex;
  position: fixed;
  padding: 2rem 3.5rem;
  border-bottom: 0.25px solid rgba(#fff, 0.25);
  background-color: rgba(#1d2228, 0.8);
  z-index: 10;
  align-self: center;
  &-logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
    span {
      color: var(--color-light);
      font-size: 4rem;
      padding: 0 1rem;
    }
  }
  &-bar {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
  }
  &-item {
    font-size: 2rem;
    font-weight: 700;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  &-link {
    color: var(--color-light);
  }

  &--sticky {
    background-color: rgba(#242729, 1);
    transition: all 1.5s;
  }
}
.footer-nav {
  display: flex;
  gap: 2rem;
  &__link {
    color: var(--color-light);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    img,
    span {
      height: 2.5rem;
      color: var(--color-primary);
    }
  }
}
