// .project-section {
//   &__slider {
//     display: flex;
//     justify-content: center;
//   }
//   &__project {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: var(--color-light);
//     padding: 0 8rem;
//   }
//   &__details {
//     background: rgba(255, 255, 255, 0.05);
//     -webkit-backdrop-filter: blur(35px);
//     backdrop-filter: blur(35px);
//     border: 1px solid rgba(255, 255, 255, 0.15);
//     border-radius: 16px;
//     padding: 2rem 2.8rem;
//     width: 40%;
//     display: flex;
//     flex-direction: column;
//     gap: 3rem;
//     margin-right: -9.8rem;
//   }
//   &__title {
//     color: var(--color-primary);
//   }
//   &__description {
//     font-size: 1.8rem;
//     line-height: 2.5rem;
//   }
//   &__img {
//   }
//   &__btn {
//     font-size: 1.8rem;
//     border: 2px solid var(--color-primary);
//     align-self: start;
//     padding: 1rem 1.8rem;
//     border-radius: 16px;
//     transition: all 0.2s;
//     color: var(--color-light);
//     &:hover {
//       transform: scale(1.1);
//       background-color: var(--color-primary-dark);
//     }
//   }
// }
// @media all and (max-width: 768px) {
//   .project-section {
//     &__project {
//       flex-direction: column;
//       align-items: start;
//       margin-top: 4rem;
//     }
//     &__details {
//       width: 100%;
//     }
//     &__img {
//       height: 50rem;
//       margin-top: -10rem;
//       z-index: 1;
//     }
//   }
// }

.project__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 4rem;
}

////////Project Card
.myCard {
  width: 300px;
  height: 325px;
  perspective: 1000px;
}
.myCard--land {
  width: 580px;
  height: 325px;
  perspective: 1000px;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 1rem;
  color: white;

  font-weight: 700;
}
.card__img {
  height: auto;
  width: 100%;
  height: 100%;
  // margin-top: 50%;
}

.backSide,
.backSide::before {
  background-image: linear-gradient(
    160deg,
    var(--color-primary) 0%,
    var(--color-light-dark) 100%
  );
}

.backSide {
  transform: rotateY(180deg);
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.card {
  width: 280px;
  height: 254px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: var(--color-dark);
  font-weight: 700;
}
.card__description {
  margin: 10px 0 10px;
  font-size: 14px;
  color: var(--color-light);
  line-height: 1.4;
}
.card__title {
  margin: 0;
  font-size: 20px;
  color: var(--color-primary);
  font-weight: 700;
}
.card__button {
  padding: 15px;
  border-radius: 8px;
  background: var(--color-primary-dark);
  border: none;
  cursor: pointer;
  margin-right: 0.8rem;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}

.card__content {
  max-width: 38rem;
}
