.project-section {
  &__slider {
    display: flex;
    justify-content: center;
  }
  &__project {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    padding: 0 8rem;
  }
  &__details {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    padding: 2rem 2.8rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: -9.8rem;
  }
  &__title {
    color: var(--color-primary);
  }
  &__description {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  &__img {
  }
  &__btn {
    font-size: 1.8rem;
    border: 2px solid var(--color-primary);
    align-self: start;
    padding: 1rem 1.8rem;
    border-radius: 16px;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      background-color: var(--color-primary-dark);
    }
  }
}
