*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; //1rem = 10px
}
body {
  box-sizing: border-box;
  background-color: var(--color-dark);
  font-family: Roboto, sans-serif;
}
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 50%; //1rem = 8px
  }
}

@media all and (min-width: 480px) and (max-width: 1024) {
  html {
    font-size: 50%; //1rem = 8px
  }
}
@media all and (max-width: 480px) {
  html {
    font-size: 25%; //1rem = 4px
  }
}
